<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.2.xsd
	   http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:component-scan base-package="com.summer.mye3.sso.service"/>

    <dubbo:application name="mye3-sso"/>
    <dubbo:registry protocol="zookeeper" address="localhost:2181"/>
    <dubbo:protocol name="dubbo" port="20883"/>
    <dubbo:service interface="com.summer.mye3.sso.service.LoginService" ref="loginServiceImpl"/>
    <dubbo:service interface="com.summer.mye3.sso.service.RegisterService" ref="registerServiceImpl"/>
    <dubbo:service interface="com.summer.mye3.sso.service.TokenService" ref="tokenServiceImpl"/>
</beans>